<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Education</h2>
                <p class="section-subtitle">
                    My educational background
                </p>
            </div>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2021 - 2025</div>
                        <h3 class="timeline-title">Bachlor Degree</h3>
                        <p class="timeline-description">
                            I completed my Bachelor degree from the Government Engineering College Sector-28, Gandhinagar</p>
                        <p class="timeline-description">
                            CGPA: 8.18</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2020 - 2021 </div>
                        <h3 class="timeline-title">Higher Degree</h3>
                        <p class="timeline-description">
                            I completed Higher Studies at M.D Shastri Swaminarayan Vidyalaya, Visnagar</p>
                        <p class="timeline-description">
                            Percentage: 88.16%</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2018 - 2019 </div>
                        <h3 class="timeline-title">Secondary Degree ( 10th grade )</h3>
                        <h4 class="timeline-subtitle"></h4>
                        <p class="timeline-description">
                            I completed my 10th grade from J.P High School,Jantral </p>
                        <p class="timeline-description">
                           Percentage: 86% </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>