<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Projects</h2>
                <p class="section-subtitle">
                    Explore some of my recent Projects
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/ByteResume_1.png" alt="Project">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Gemini API</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind Css</span>
                            <span class="project-tag">DaisyUi</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Byte Resume</h3>
                        <p class="project-description">
                            An intelligent and user-friendly Resume Builder that leverages Google Gemini API to generate complete resume content based on user input.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Devpatel1944/ByteResume-AI-Powered-Resume" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Smart_Email_Assistant.png" alt="Smart Email Assistant">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Gemini API</span>
                            <span class="project-tag">Tailwind Css</span>
                            <span class="project-tag">Full Stack</span>
                            <span class="project-tag">Extension</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Smart Email Assistant</h3>
                        <p class="project-description">
                            AI-powered email assistant using Spring Boot, React, and Gemini API, integrated into Gmail via extension.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Devpatel1944/Smart_Email_Assistant-SpringBoot-React-Extension" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/SmartResearch.png" alt="Smart Research Assistant">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Gemini API</span>
                            <span class="project-tag">IntelliJ IDEA</span>
                            <span class="project-tag">Extension</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Smart Research Assistant</h3>
                        <p class="project-description">
                            A powerful Smart Research Assistant that utilizes Google’s Gemini API to generate summaries from selected text on any webpage.</p>
                        <div class="project-links">
                            <a href="https://github.com/Devpatel1944/ResearchAssistant-Project-SpringBoot" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/Dashboard.png" alt="SMS">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">IntelliJ IDEA</span>
                            <span class="project-tag">Full Stack</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Studenet Management System</h3>
                        <p class="project-description">
                            A full-stack web application built using ReactJS (Frontend) and Spring Boot (Backend) to manage student data — add, view, edit, delete, and display student profiles with ease.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/Devpatel1944/StudentManagementSystem-React-SpringBoot" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>